In [3]:
import pandas as pd

In [5]:
notasAlunos = {
    'João': {'matematica': 90, 'português':85, 'ciências':88},
    'Maria': {'matematica': 95, 'português':92, 'ciências':89},
    'Pedro': {'matematica': 80, 'português':75, 'ciências':82}
}

In [6]:
notasAlunos

{'João': {'matematica': 90, 'português': 85, 'ciências': 88},
 'Maria': {'matematica': 95, 'português': 92, 'ciências': 89},
 'Pedro': {'matematica': 80, 'português': 75, 'ciências': 82}}

In [7]:
notasAlunos['Ana'] = {'matematica': 88, 'português':91, 'ciências':85}

In [8]:
dados = pd.DataFrame(notasAlunos)
dados

            João  Maria  Pedro  Ana
matematica    90     95     80   88
português     85     92     75   91
ciências      88     89     82   85

In [9]:
dados.to_csv('DataframeTeste.csv')